<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do List</h1>
    <h3><%= todos.length === 0 ? 'There are no To Dos yet!' : '' %></h3>
    <% todos.forEach(function(t) { %>
      <ul>
        <li><%= t.item %> - <%= t.done ? 'Done' : 'Not Done' %> </li>
      </ul>
      <% }); %>
    <hr>


    <form action="/" method="POST">
              <input type="text" name="todos" id="todos" required>
              <button type="submit">ADD TO DO</button>
            </form>
  </body>
</html>

